nav{
    background: aqua;
    padding: 20px;
}
.nav-enlace{
    display: inline-block;
    background: salmon;
    color:white ;
    padding: 10px 30px;
    text-decoration: none;
}
.nav-enlace:hover{
    background: green;
}

.columna{
    background: brown;
    color: cornsilk;
    padding: 20px;
    width: 25%;
    margin: 10px;
}
.padre{
    display: flex;
}