nav{
    background: aqua;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
/*botones de enlace parte superior*/
.nav-enlace{
    display: inline-block;
    background: salmon;
    color:white ;
    padding: 10px 30px;
    text-decoration: none;
}
.nav-enlace:hover{
    background: green;
}
/*caja con los parrafos*/
.columna{
    background: brown;
    color: cornsilk;
    padding: 20px;
    width: 25%;
    margin: 10px;
}
/* parrafos */
.padre{
    display: flex;
}
.nav-boton{
    background: salmon;
    color: white;
    padding: 10px 0;
    border: 2px solid white;
    display: none;

}
@media(max-width: 600px)
{
    nav{
        background: lawngreen;
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0px ;
    }
    .nav-boton{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
}